build/
build_debug/
MAPF-TS
.DS_Store
screenshots/
Makefile
mapf-ts-bpc
*.lp
python_src/experiment/executable_backups/*
python_src/experiment/__pycache__/*
output/log/*
output-1/log/*
output/**
**/*.pkl
.DS_Store
*.log
**/executable_backups/*
data/
.vscode/
